<h1>Comments</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Owner</th>
      <th scope="col">Status</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>

    {{#each comments}}

      <tr>
        <th scope="row">{{id}}</th>
        <td>{{user.firstName}}</td>
        <td>
          <input
            data-id="{{id}}"
            type="checkbox"
            {{#if approveComment}} checked {{/if}}
            name="approveComment"
          />
        </td>
        <td>{{generateDate
            date
            "MMMM Do YYYY"
          }}</td>
        <td>
          <form action="/admin/comments/{{id}}?_method=DELETE" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>

    {{/each}}
  </tbody>
</table>